
<h1>Movie Maven</h1>
<h2>Your Ultimate Film Guide</h2>


<form asp-method="post" style="display: flex; justify-content: center;">
    <button class="sheer-btn btn-lg" asp-action="MovieSearch" type="submit">Movie Search</button>
    <button class="sheer-btn btn-lg" asp-action="MovieNight" type="submit">Movie Night Search</button>
</form>

