<div class="mt-4 p-5">
<h1 class="display-1">Movie Maven</h1b>
<h2 class="display-3">Your Ultimate Film Guide</h2>

        <p style="color: #ecbcd8">Use movie search to search movies by title.</p>
        <p style="color: #ecbcd8">Or use Movie Night to plan what movie to watch first with a brief plot summary.</p>

<form asp-method="post" style="display: flex; justify-content: center;">
    <button class="sheer-btn btn-lg" asp-action="MovieSearch" type="submit">Movie Search</button>
    <button class="sheer-btn btn-lg" asp-action="MovieNight" type="submit">Movie Night Search</button>
</form>

</div>